
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --color-background: #eff0f0;
  --color-foreground: #0c0e12;
}

body, html {
	width: 100%;
	overflow-x: hidden;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Urbanist', sans-serif;
}

body {
  margin: 0;
}

#landingPageImage {
  height: 28rem;
  width: 100%;
}

#landingPageImage img{
  height: 28rem;
  width: 100%;
}

nav {
  position: fixed;
  height: 6rem;
  width: 100%;
  backdrop-filter: blur(4px);
  top: 0;
  right: 0;
  z-index: 1000;
  color: color-mix(in srgb, #2f4d30, var(--color-foreground) 85%);
  border-color: color-mix(in srgb, #2f4d30, var(--color-foreground) 85%);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  /* background: rgba(0, 0, 0, 0.8); */
  background: rgba(255, 255, 255, 0.6);
}

#navItems {
  position: fixed;
  display: flex;
  text-align: center;
  right: 0;
  top: 0;
  height: 6rem;
  width: 50%;
  z-index: 1000;
}

nav h1 {
  margin: auto;
  font-size: 1.2rem;
  color: black;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(133, 203, 245, 0.4);
}

nav a {
  margin: auto; 
  text-decoration: none;
  cursor: pointer;
}

#logo-image {
  height: auto;
  width: auto;
}

#menu-image {
  height: 1rem;
  width: 2rem;
  margin: auto 1rem auto auto;
}

.section {
  background: linear-gradient(0deg,
  color-mix(in srgb, #2f4d30, var(--color-background) 99%),
  color-mix(in srgb, #2f4d30, var(--color-background) 95%));
}

#Main-Title {
  min-height: 100dvh;
  height: auto;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: clamp(2rem, 4vw, 5rem);
}

#Main-Title h2{
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  color: color-mix(in srgb, #ca7f15, var(--color-foreground) 20%);
}

#Main-Title p{
  font-size: 1.25rem;
  font-weight: 200;
  margin-top: 0;
}

#overlayMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* black with transparency */
  display: none; /* hidden initially */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.menu-content a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.3s;
}

.menu-content a:hover {
  color: #ffcc00;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  touch-action: pan-y;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.imageSection {
  width: 45%;
  margin: auto;
}

.imageSection img {
  width: 100%;
  height: auto;
  max-height: 75dvh;
  object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  background-color: rgba(128, 128, 128, 0.582);
  padding: 0.3rem 0.8rem 0.45rem 0.8rem;
  border-radius: 50%;
  margin: -0.75rem;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(251, 135, 3);
  border-radius: 50%;
}

/* Caption text */
.text {
  color: black;
  font-size: 1rem;
  padding: 0.8rem 0.2rem;
  bottom: 0.5rem;
  width: 100%;
  text-align: center;
  
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0.6rem;
  width: 0.6rem;
  margin: 0 0.1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer img{
  width: auto;
  height: auto;
  object-fit: contain;
  min-height: 5dvh;
}

footer p {
  margin: 0.15rem 0;
}

.space {
  margin-bottom: 1rem;
}

#Star-Rating {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
}

#Star-Rating img {
  height: 50px;
}

.stars {
  margin-top: 0.25rem;
  font-size: 1.5rem;
  color: #22c55e;
  font-weight: 600;
}

/*
#Main-Title {
    background-image: url('./images/Work1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 30rem;
    width: 100%;
}
*/


/*Contact Page*/
#Contact-Content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50rem;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: clamp(2rem, 4vw, 5rem);
}

#customer-name {
  margin-bottom: 1rem;
}

#Inner-Content-Left {
  width: 50%;
}

#Inner-Content-Left h1 {
  color:  color-mix(in srgb, #ca7f15, var(--color-foreground) 20%);
}

#Inner-Content-Right {
  width: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.form-group label {
  padding-bottom: 0.2rem;
}

.form-group input {
  border-radius: 0.5rem;
  height: 2rem;
}

.form-group button {
  border-radius: 0.5rem;
  height: 2rem;
}

#customerMessage {
  height: 15dvh;
}

#customer-submit {
  margin-left: 50%;
}

/*Screen Resolutions*/

@media (max-width: 485px) {

}

@media (max-width: 550px) {
  .mySlides {
    display: flex;
    flex-direction: column;
  }

  .secondImage {
    display: none;
  }

  .imageSection {
    width: 100%;
  }

  .imageSection img{
    width: 100%;
  }

  .mainHeader {
    display: none;
  }

  /* .slideshow-container {
  } */

  .prev {
    left: -1rem;
  }

  .next {
    right: -1rem;
  }

}

@media (max-width: 680px) {
	#Contact-Content {
    flex-direction: column;
  }

  #Inner-Content-Left {
    width: 100%;
  }

  #Inner-Content-Right {
    width: 100%;
  }

}

@media (max-width: 1200px) {
  #Inner-Content-Left p {
    margin-right: 1rem;
  }

  
}

@media (max-height: 500px) {

}

@media (orientation: portrait) and (max-width: 1200px) and (pointer: coarse){

  #Contact-Content {
    height: auto;
    flex-direction: column;
    align-items: baseline;
    min-height: 85dvh;
  }

  #Inner-Content-Left {
    width: 100%;
  }

  #Inner-Content-Right {
    width: 100%;
  }

  .imageSection {
    width: 95%;
  }

  .imageSection img {
    max-height: 17.5rem;
  }

  #landingPageImage {
    height: 24rem;
  }

  #landingPageImage img {
    height: 24rem;
  }
} 

@media (orientation: landscape) and (max-width: 1200px) and (pointer: coarse){

  #Contact-Content {
    height: auto;
  }
} 

@media (max-width: 930px) {
  nav {
    background: none;
    backdrop-filter: none;
  }

  .mainHeader {
    display: none;
  }

  #menu-image {
    height: 1.5rem;
    width: 2.5rem;
  }
}

@media (min-width: 1201px) {
  

}

